.relatedPurchase {
  flex: 1 0 20%;
  width: 20vw;
  overflow: hidden;
  max-height: 100%;
}

.relatedPurchase ul {
  list-style: none;
}

.relatedPurchase ul li:nth-child(1) img {
  width: 8em;
}

.relatedPurchase ul li:nth-child(2):hover {
  text-decoration: underline;
}

.relatedPurchase li:nth-child(3) {
  color: red;
  font-weight: bolder;
  font-size: 1.5em;
}