.relatedPurchasesSliderArrowLeft, .relatedPurchasesSliderArrowRight {
  width: 1em;
  height: 2.25em;
  font-weight: bold;
  border: 1px solid #CCC;
  color: grey;
  background: #F6F7F9;
  z-index: 1000;
  padding: 0.5em 0 0.5em 0;
  position: relative;
  top: 8em;
  font-size: 1.5em;
  border-radius: 4px;
  text-align: center;
}

.relatedPurchasesSliderArrowLeft:hover, .relatedPurchasesSliderArrowRight:hover {
  background: #FFFFFF;
  color: #9C9C9C;
}

.relatedPurchasesSliderArrowLeft {
  float: left;
}

.relatedPurchasesSliderArrowRight {
  float:right;
}

@media only screen and (max-width: 1200px) {
  .relatedPurchasesSliderArrowLeft, .relatedPurchasesSliderArrowRight {
    top: 4em;
  }
}