.relatedPurchasesSlider {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
}

.relatedPurchasesSliderDots {
  width: 100%;
  text-align: center;
  margin: 1em 0 1em 0;
}