.relatedPurchasesSliderDot, .relatedPurchasesSliderDotActive {
  width: 1em;
  height: 1em;
  background-color: darkgrey;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1em;
  border: none;
}

.relatedPurchasesSliderDot:hover {
  background: grey;
}

.relatedPurchasesSliderDotActive {
  background-color: red;
}

