/* TODO: make visible arrows: */
.slick-prev {
  left: 0 !important;
  z-index: 1000;
}

.slick-next {
  right: 0 !important;
  z-index: 1000;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.slick-slider ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
  max-height: 8em;
  display: block;
}

#relatedPurchasesSlider {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
}

.relatedPurchasesSliderStack {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.relatedPurchase {
  flex: 0 1 20%;
  width: 20vw;
  overflow: hidden;
  max-height: 100%;
}

.relatedPurchase ul {
  list-style: none;
}
.relatedPurchase ul li:nth-child(1) img {
  width: 8em;
}
.relatedPurchase ul li:nth-child(2):hover {
  text-decoration: underline;
}
.relatedPurchase li:nth-child(3) {
  color: red;
  font-weight: bolder;
  font-size: 1.5em;
}

.ratings .ratingsAverage .star {
  width: 16px;
  height: auto;
  display: inline-block;
}
.ratings .ratingsAverage, .ratings .ratingsCount  {
  display: inline-block;
}
.ratings .ratingsCount {
  margin-left: 16px;
}

.relatedPurchasesSliderDot, .relatedPurchasesSliderDotActive {
  width: 1em;
  height: 1em;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1em;
}
.relatedPurchasesSliderDot:hover {
  background: yellow;
}
.relatedPurchasesSliderDotActive {
  background-color: red;
}

#relatedPurchasesSliderDots {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

/* Slider arrows */
#relatedPurchasesSliderArrowLeft, #relatedPurchasesSliderArrowRight {
  width: 1em;
  height: 3.25em;
  padding: 1em;
  font-weight: bold;
  border: 1px solid grey;
  color: grey;
  background: white;
  z-index: 1000;
  vertical-align: center;
  position: relative;
  top: 6em;
}
#relatedPurchasesSliderArrowLeft:hover, #relatedPurchasesSliderArrowRight:hover {
  background: grey;
  color: white;
}

#relatedPurchasesSliderArrowLeft {
  float: left;
}
#relatedPurchasesSliderArrowRight {
  float:right;
}

#relatedPurchases {
  overflow: hidden;
}