* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

#relatedPurchases ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
  max-height: 8em;
  display: block;
}

.relatedPurchase img {
  width: 4em;
}

.relatedPurchase li:nth-child(2):hover {
  text-decoration: underline;
}

.relatedPurchase li:nth-child(3) {
  color: red;
  font-weight: bolder;
  font-size: 1.5em;
}

.relatedPurchase {
  display: inline-block;
  width: 20%;
}